<div class="container">
    <div class="effect-1">
        <img src="assets/img/effect-1.svg" title="" alt="">
    </div>
    <div class="effect-2">
        <img src="assets/img/effect-2.svg" title="" alt="">
    </div>
    <div class="row align-items-center justify-content-center gy-5">
        <div class="col-lg-6 col-xl-5">
            <div class="about-banner text-center">
                <img src="assets/img/about-banner.png" title="" alt="">
            </div>
        </div>
        <div class="col-lg-6 col-xl-5 px-lg-5">
            <div class="about-text">
                <div class="section-heading">
                    <h6><span>sobre mi</span></h6>
                    <h2>disponible para <span>desarrollo</span></h2>
                </div>
                <!-- <p>The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.</p> -->
                <div class="review-box">
                    <div class="r-box">
                        <h3>5</h3>
                        <label>Años de Experiencia</label>
                    </div>
                    <div class="r-box">
                        <h3>4<span></span></h3>
                        <label>Países de Trabajo</label>
                    </div>
                    <div class="r-box">
                        <h3>49</h3>
                        <label>Awward Winning</label>
                    </div>
                </div>
                <div class="btn-bar">
                    <a class="px-btn" href="javascript:"><span>Get in touch</span> <i class="bi-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</div>