<div class="container">
    <div class="section-heading">
        <h2>Trabajos Independientes</h2>
    </div>
    <div class="lightbox-gallery">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let item of works">
                <div class="project-box">
                    <div class="project-media">
                        <img [src]="item.image" title="" alt="">
                        <a class="gallery-link" [href]="item.image" data-title="Caption for image 1" data-lightbox="services"><i class="bi-plus"></i></a>
                    </div>
                    <div class="project-body">
                        <div class="text">
                            <h5>{{item.client}}</h5>
                            <span>{{item.typeWork}}</span>
                        </div>
                        <div class="link">
                            <a class="p-link px_modal" data-bs-toggle="modal" data-bs-target="#project_1"><i class="bi-arrow-right"></i> </a>
                        </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>

<div class="modal fade" id="project_1" tabindex="-1" aria-labelledby="project_1" aria-hidden="true">
    <div class="modal-dialog px-modal">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="single-project-box">
                    <div class="row align-items-start">
                        <div class="col-lg-6">
                            <img class="border" src="assets/img/etnica-admin.png" title="" alt="">
                        </div>
                        <div class="col-lg-6 pt-4 pt-lg-0">
                            <h4>Etnica Eco-Friendly</h4>
                            <p class="mb-3">Sitio web con galería de fotos, carta diaria, chat para consultas, pedidos y reservaciones con envío automático de correos.</p>
                            <p>Implementado en Firebase:</p>
                            <ul>
                                <li>Hosting para el despliegue.</li>
                                <li>Storage para imágenes.</li>
                                <li>Database para la carta.</li>
                                <li>Functions para notificaciones por e-mail.</li>
                                <li>Authentication: control de acceso para la administración del sitio.</li>
                            </ul>
                            <div class="about-content">
                                <ul>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">Stack:</span>
                                        <span>Angular, Firebase, GitHub, Bootstrap</span>
                                    </li>
                                    <li class="d-flex">
                                        <span class="col-4 col-lg-3">URL:</span>
                                        <span><a target="_blank" href="https://etnica-restaurant.web.app">https://etnica-restaurant.web.app</a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>