<div class="container">
  <div class="section-heading">
    <h2>Mi Experiencia Laboral</h2>
  </div>
  <div class="row gy-3">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" *ngFor="let work of experiences; let first = first" [ngClass]="{'highlight-job': first}">
      <div class="ex-box">
        <div class="row gy-4">
          <div class="col-sm-12 col-md-3 col-lg-3">
            <div class="ex-left">
              <h4>{{work.rol}}</h4>
              <span>{{work.ubication}}</span>
              <p>{{work.init}} - {{work.final}}</p>
              <label>{{work.type}}</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-9 col-lg-9">
            <div class="ex-right">
              <h3>{{work.company}}  <i class="bi-download fs-5 ms-2" style="cursor: pointer;"></i> </h3>
              <p class="m-0">{{work.description}}</p>
              <p class="mt-1"><strong>Proyectos: {{work.projects}}</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
