<div class="container">
  <div class="section-heading">
    <h2>Mi Experiencia Laboral</h2>
  </div>
  <div class="row gy-3">
    <div class="col-12 col-md-6" *ngFor="let work of experiences; let first = first" [ngClass]="{'highlight-job': first}">
      <div class="ex-box">
        <div class="row gy-4">
          <div class="col-sm-12 col-md-5 col-lg-5">
            <div class="ex-left">
              <h4>{{work.rol}}</h4>
              <span>{{work.ubication}}</span>
              <p>{{work.init}} - {{work.final}}</p>
              <label>{{work.type}}</label>
            </div>
          </div>
          <div class="col-sm-12 col-md-7 col-lg-7">
            <div class="ex-right">
              <h3>{{work.company}}</h3>
              <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
