<div class="container">
    <div class="contactus-box rounded oveflow-hidden gray-bg">
        <div class="row g-0 p-4 p-lg-5">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <div class="contactus-title">
                    <h5>Hablemos de su proyecto</h5>
                    <p class="m-0">Siempre disponible para trabajar independientemente si surge el proyecto adecuado. No dudes en contactarme.</p>
                </div>
            </div>
        </div>
        <div class="row g-0 contactus-form p-4 p-lg-5 flex-row-reverse">
            <div class="col-lg-8">
                <div class="contact-form">
                    <form id="contact-form" method="POST">
                        <div class="row gx-3 gy-4">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Nombre y Apellidos</label>
                                    <input name="Name" id="name" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Correo electrónico</label>
                                    <input name="Email" id="email" class="form-control" type="email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Asunto</label>
                                    <input name="Subject" id="subject" class="form-control" type="text">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-label">Tu mensaje</label>
                                    <textarea name="message" id="message" rows="4" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send">
                                    <button class="px-btn w-100" type="button" value="Send">Enviar Mensaje</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-4 pe-md-5">
                <div class="contact-banner d-none d-lg-block">
                    <img src="assets/img/contact-us.png" title="" alt="">
                </div>
                <div class="contact-info">
                    <div class="contact-info-in">
                        <label>Enviame un mail:</label>
                        <a href="mailto:sample@domain.com">simonmartinez.luis@gmail.com</a>
                    </div>
                </div>
                <div class="social-icon ps-sm-4 pt-4 pt-sm-0 d-flex justify-content-center justify-content-sm-start">
                    <a class="github" href="https://github.com/luissimonmartinez" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="github m-0" href="https://www.linkedin.com/in/simonmartinez-luis" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>