<div class="container">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <div class="hs-text-box">
                <h1>Luis Simon M.</h1>
                <h6 style="color:#0788ff; text-transform: uppercase;">analista y desarrollador de software</h6>
                <p class="text">Con más de 5 años de experiencia en el desarrollo de interfaces modernas, escalables y
                    orientadas al producto. Especializado en microfrontends, CI/CD, pruebas y control de calidad. He
                    trabajado en proyectos internacionales con equipos ágiles y multifuncionales. Actualmente me
                    perfecciono en soluciones de la nube con GCP y Azure, aportando también una fuerte visión de
                    producto.</p>
                <div class="btn-bar d-flex align-items-sm-center flex-column flex-sm-row">
                    <!-- <a class="px-btn" href="javascript:"><span>Get in touch</span> <i class="bi-arrow-right"></i> </a> -->
                    <div
                        class="social-icon ps-sm-4 pt-4 pt-sm-0 d-flex justify-content-center justify-content-sm-start">
                        <a class="github" href="https://github.com/simonmartinez-luis" target="_blank"><i
                                class="fab fa-github"></i></a>
                        <a class="github m-0" href="https://www.linkedin.com/in/simonmartinez-luis" target="_blank"><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="hs-banner">
                <img src="assets/img/home-banner.webp" title="" alt="">
            </div>
        </div>
    </div>
</div>